In [1]:
import os
import numpy as np
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from datetime import datetime
from pandas.api.types import CategoricalDtype
import sqlite3
pd.set_option('display.max_columns', 500)

## WM 2018
Auswertung der Ergebnisse

In [2]:
matches_wm2018_results = pd.DataFrame()
matches_wm2018_pre_results = pd.DataFrame()

matches_wm2018_results = pd.read_csv('football_sources/fifa-world-cup-2018-RussianStandardTime_Results.csv')

matches_wm2018_results = matches_wm2018_results.drop(["Location","Group","Round Number", "Date"], axis=1)

matches_wm2018_results["goals_home"] = 0
matches_wm2018_results["goals_away"] = 0

pd.options.display.max_rows = 70
matches_wm2018_results.head(70)

         Home Team       Away Team Result  goals_home  goals_away
0           Russia    Saudi Arabia  5 - 0           0           0
1            Egypt         Uruguay  0 - 1           0           0
2          Morocco            Iran  0 - 1           0           0
3         Portugal           Spain  3 - 3           0           0
4           France       Australia  2 - 1           0           0
5        Argentina         Iceland  1 - 1           0           0
6             Peru         Denmark  0 - 1           0           0
7          Croatia         Nigeria  2 - 0           0           0
8       Costa Rica          Serbia  0 - 1           0           0
9          Germany          Mexico  0 - 1           0           0
10          Brazil     Switzerland  1 - 1           0           0
11          Sweden  Korea Republic  1 - 0           0           0
12         Belgium          Panama  3 - 0           0           0
13         Tunisia         England  1 - 2           0           0
14        Colombia           Japan  1 - 2           0           0
15          Poland         Senegal  1 - 2           0           0
16          Russia           Egypt  3 - 1           0           0
17        Portugal         Morocco  1 - 0           0           0
18         Uruguay    Saudi Arabia  1 - 0           0           0
19            Iran           Spain  0 - 1           0           0
20         Denmark       Australia  1 - 1           0           0
21          France            Peru  1 - 0           0           0
22       Argentina         Croatia  0 - 3           0           0
23          Brazil      Costa Rica  2 - 0           0           0
24         Nigeria         Iceland  2 - 0           0           0
25          Serbia     Switzerland  1 - 2           0           0
26         Belgium         Tunisia  5 - 2           0           0
27  Korea Republic          Mexico  1 - 2           0           0
28         Germany          Sweden  2 - 1           0           0
29         England          Panama  6 - 1           0           0
30           Japan         Senegal  2 - 2           0           0
31          Poland        Colombia  0 - 3           0           0
32         Uruguay          Russia  3 - 0           0           0
33    Saudi Arabia           Egypt  2 - 1           0           0
34            Iran        Portugal  1 - 1           0           0
35           Spain         Morocco  2 - 2           0           0
36         Denmark          France  0 - 0           0           0
37       Australia            Peru  0 - 2           0           0
38         Nigeria       Argentina  1 - 2           0           0
39         Iceland         Croatia  1 - 2           0           0
40          Mexico          Sweden  0 - 3           0           0
41  Korea Republic         Germany  2 - 0           0           0
42          Serbia          Brazil  0 - 2           0           0
43     Switzerland      Costa Rica  2 - 2           0           0
44           Japan          Poland  0 - 1           0           0
45         Senegal        Colombia  0 - 1           0           0
46          Panama         Tunisia  1 - 2           0           0
47         England         Belgium  0 - 1           0           0
48          France       Argentina  4 - 3           0           0
49         Uruguay        Portugal  2 - 1           0           0
50           Spain          Russia  4 - 5           0           0
51         Croatia         Denmark  4 - 3           0           0
52          Brazil          Mexico  2 - 0           0           0
53         Belgium           Japan  3 - 2           0           0
54          Sweden     Switzerland  1 - 0           0           0
55        Colombia         England  4 - 5           0           0
56         Uruguay          France  0 - 2           0           0
57          Brazil         Belgium  1 - 2           0           0
58          Sweden         England  0 - 2           0           0
59          Russia         Croatia  5 - 6           0           0
60          France         Belgium  1 - 0           0           0
61         Croatia         England  2 - 1           0           0
62         Belgium         England  2 - 0           0           0
63          France         Croatia  4 - 2           0           0

In [3]:
matches_wm2018_results["Result"] = matches_wm2018_results["Result"].astype(str)

for index, row in matches_wm2018_results.iterrows():
    result =  matches_wm2018_results["Result"][index].split(' - ')
    matches_wm2018_results["goals_home"][index] = result[0]
    matches_wm2018_results["goals_away"][index] = result[1]
    
    
matches_wm2018_results = matches_wm2018_results.drop(["Result"], axis=1)
matches_wm2018_results.head(100)

/home/marco/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/marco/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         Home Team       Away Team  goals_home  goals_away
0           Russia    Saudi Arabia           5           0
1            Egypt         Uruguay           0           1
2          Morocco            Iran           0           1
3         Portugal           Spain           3           3
4           France       Australia           2           1
5        Argentina         Iceland           1           1
6             Peru         Denmark           0           1
7          Croatia         Nigeria           2           0
8       Costa Rica          Serbia           0           1
9          Germany          Mexico           0           1
10          Brazil     Switzerland           1           1
11          Sweden  Korea Republic           1           0
12         Belgium          Panama           3           0
13         Tunisia         England           1           2
14        Colombia           Japan           1           2
15          Poland         Senegal           1           2
16          Russia           Egypt           3           1
17        Portugal         Morocco           1           0
18         Uruguay    Saudi Arabia           1           0
19            Iran           Spain           0           1
20         Denmark       Australia           1           1
21          France            Peru           1           0
22       Argentina         Croatia           0           3
23          Brazil      Costa Rica           2           0
24         Nigeria         Iceland           2           0
25          Serbia     Switzerland           1           2
26         Belgium         Tunisia           5           2
27  Korea Republic          Mexico           1           2
28         Germany          Sweden           2           1
29         England          Panama           6           1
30           Japan         Senegal           2           2
31          Poland        Colombia           0           3
32         Uruguay          Russia           3           0
33    Saudi Arabia           Egypt           2           1
34            Iran        Portugal           1           1
35           Spain         Morocco           2           2
36         Denmark          France           0           0
37       Australia            Peru           0           2
38         Nigeria       Argentina           1           2
39         Iceland         Croatia           1           2
40          Mexico          Sweden           0           3
41  Korea Republic         Germany           2           0
42          Serbia          Brazil           0           2
43     Switzerland      Costa Rica           2           2
44           Japan          Poland           0           1
45         Senegal        Colombia           0           1
46          Panama         Tunisia           1           2
47         England         Belgium           0           1
48          France       Argentina           4           3
49         Uruguay        Portugal           2           1
50           Spain          Russia           4           5
51         Croatia         Denmark           4           3
52          Brazil          Mexico           2           0
53         Belgium           Japan           3           2
54          Sweden     Switzerland           1           0
55        Colombia         England           4           5
56         Uruguay          France           0           2
57          Brazil         Belgium           1           2
58          Sweden         England           0           2
59          Russia         Croatia           5           6
60          France         Belgium           1           0
61         Croatia         England           2           1
62         Belgium         England           2           0
63          France         Croatia           4           2

In [4]:
matches_wm2018_predicted = pd.read_csv('results_franzi.csv')

matches_wm2018_predicted

    Unnamed: 0  goals_home  goals_away
0            0           1           0
1            1           0           0
2            2           0           0
3            3           0           1
4            4           2           1
5            5           1           1
6            6           0           0
7            7           2           1
8            8           0           1
9            9           3           1
10          10           2           1
11          11           2           1
12          12           1           0
13          13           1           1
14          14           1           0
15          15           1           0
16          16           2           1
17          17           2           1
18          18           3           1
19          19           0           1
20          20           1           1
21          21           1           0
22          22           1           3
23          23           2           1
24          24           1           1
25          25           2           1
26          26           1           1
27          27           1           2
28          28           2           1
29          29           1           1
30          30           2           1
31          31           2           1
32          32           1           1
33          33           0           1
34          34           1           1
35          35           3           1
36          36           2           1
37          37           1           1
38          38           0           1
39          39           1           3
40          40           1           2
41          41           1           1
42          42           0           1
43          43           1           0
44          44           2           1
45          45           0           1
46          46           1           1
47          47           1           1
48          48           1           0
49          49           1           0
50          50           1           2
51          51           1           0
52          52           1           0
53          53           1           0
54          54           0           1
55          55           0           1
56          56           1           2
57          57           1           0
58          58           0           1
59          59           0           1
60          60           1           2
61          61           1           2
62          62           1           2
63          63           1           2

In [5]:
matches_wm2018_predicted = matches_wm2018_predicted.drop(["Unnamed: 0"], axis=1)

In [6]:
matches_wm2018_predicted

    goals_home  goals_away
0            1           0
1            0           0
2            0           0
3            0           1
4            2           1
5            1           1
6            0           0
7            2           1
8            0           1
9            3           1
10           2           1
11           2           1
12           1           0
13           1           1
14           1           0
15           1           0
16           2           1
17           2           1
18           3           1
19           0           1
20           1           1
21           1           0
22           1           3
23           2           1
24           1           1
25           2           1
26           1           1
27           1           2
28           2           1
29           1           1
30           2           1
31           2           1
32           1           1
33           0           1
34           1           1
35           3           1
36           2           1
37           1           1
38           0           1
39           1           3
40           1           2
41           1           1
42           0           1
43           1           0
44           2           1
45           0           1
46           1           1
47           1           1
48           1           0
49           1           0
50           1           2
51           1           0
52           1           0
53           1           0
54           0           1
55           0           1
56           1           2
57           1           0
58           0           1
59           0           1
60           1           2
61           1           2
62           1           2
63           1           2

In [7]:
for index in range(0,48):
        
    if matches_wm2018_predicted["goals_home"][index] > matches_wm2018_predicted["goals_away"][index]:
        
        #neccessary vars
        difference = (matches_wm2018_predicted["goals_home"][index] - matches_wm2018_predicted["goals_away"][index])
    
        matches_wm2018_predicted["goals_away"][index] = 1
        matches_wm2018_predicted["goals_home"][index] = matches_wm2018_predicted["goals_away"][index] + difference
              
            
    if matches_wm2018_predicted["goals_away"][index] > matches_wm2018_predicted["goals_home"][index]:
        
        #neccessary vars
        difference = (matches_wm2018_predicted["goals_away"][index] - matches_wm2018_predicted["goals_home"][index])
    
        matches_wm2018_predicted["goals_home"][index] = 1
        matches_wm2018_predicted["goals_away"][index] = matches_wm2018_predicted["goals_home"][index] + difference
        
    if matches_wm2018_predicted["goals_away"][index] == matches_wm2018_predicted["goals_home"][index]:
        matches_wm2018_predicted["goals_home"][index] = 1
        matches_wm2018_predicted["goals_away"][index] = 1
        
        
for index in range(48,64):
    
    if matches_wm2018_predicted["goals_home"][index] > matches_wm2018_predicted["goals_away"][index]:
    
        if (matches_wm2018_predicted["goals_home"][index] + matches_wm2018_predicted["goals_away"][index])>=11:
            matches_wm2018_predicted["goals_home"][index] = 2
            matches_wm2018_predicted["goals_away"][index] = 1
            
        elif (matches_wm2018_predicted["goals_home"][index] + matches_wm2018_predicted["goals_away"][index])<11:
            matches_wm2018_predicted["goals_home"][index] = 1
            matches_wm2018_predicted["goals_away"][index] = 0
        
    if matches_wm2018_predicted["goals_away"][index] > matches_wm2018_predicted["goals_home"][index]:
        
        if (matches_wm2018_predicted["goals_home"][index] + matches_wm2018_predicted["goals_away"][index])>=11:
            matches_wm2018_predicted["goals_home"][index] = 1
            matches_wm2018_predicted["goals_away"][index] = 2
            
        elif (matches_wm2018_predicted["goals_home"][index] + matches_wm2018_predicted["goals_away"][index])<11:
            matches_wm2018_predicted["goals_home"][index] = 0
            matches_wm2018_predicted["goals_away"][index] = 1
        
matches_wm2018_predicted

    goals_home  goals_away
0            2           1
1            1           1
2            1           1
3            1           2
4            2           1
5            1           1
6            1           1
7            2           1
8            1           2
9            3           1
10           2           1
11           2           1
12           2           1
13           1           1
14           2           1
15           2           1
16           2           1
17           2           1
18           3           1
19           1           2
20           1           1
21           2           1
22           1           3
23           2           1
24           1           1
25           2           1
26           1           1
27           1           2
28           2           1
29           1           1
30           2           1
31           2           1
32           1           1
33           1           2
34           1           1
35           3           1
36           2           1
37           1           1
38           1           2
39           1           3
40           1           2
41           1           1
42           1           2
43           2           1
44           2           1
45           1           2
46           1           1
47           1           1
48           1           0
49           1           0
50           0           1
51           1           0
52           1           0
53           1           0
54           0           1
55           0           1
56           0           1
57           1           0
58           0           1
59           0           1
60           0           1
61           0           1
62           0           1
63           0           1

In [8]:
matches_wm2018_predicted["goals_home"][0] == matches_wm2018_results["goals_home"][0]

False

In [9]:
matches_wm2018_predicted["score_for_this_game"] = 0

for index, row in matches_wm2018_results.iterrows():
    
    difference_real = matches_wm2018_results["goals_home"][index] - matches_wm2018_results["goals_away"][index]
    difference_pred = matches_wm2018_predicted["goals_home"][index] - matches_wm2018_predicted["goals_away"][index]
    points = 0
    
    if matches_wm2018_predicted["goals_home"][index] > matches_wm2018_predicted["goals_away"][index] and matches_wm2018_results["goals_home"][index] > matches_wm2018_results["goals_away"][index]:
        points = points + 2
        
        if (difference_real == difference_pred):
            points = points + 1
    
        if (matches_wm2018_predicted["goals_home"][index] == matches_wm2018_results["goals_home"][index]) and (matches_wm2018_predicted["goals_away"][index] == matches_wm2018_results["goals_away"][index]):  
            points = points + 1
        
    if matches_wm2018_predicted["goals_home"][index] < matches_wm2018_predicted["goals_away"][index] and (matches_wm2018_results["goals_home"][index] < matches_wm2018_results["goals_away"][index]):
        points = points + 2
        
        if (difference_real == difference_pred):
            points = points + 1
    
        if (matches_wm2018_predicted["goals_home"][index] == matches_wm2018_results["goals_home"][index]) and (matches_wm2018_predicted["goals_away"][index] == matches_wm2018_results["goals_away"][index]):  
            points = points + 1
        
    if matches_wm2018_predicted["goals_home"][index] == matches_wm2018_predicted["goals_away"][index] and (matches_wm2018_results["goals_home"][index] == matches_wm2018_results["goals_away"][index]):
        points = points + 2
        
        if (matches_wm2018_predicted["goals_home"][index] == matches_wm2018_results["goals_home"][index]) and (matches_wm2018_predicted["goals_away"][index] == matches_wm2018_results["goals_away"][index]):  
            points = points + 2
        

        
    
    matches_wm2018_predicted["score_for_this_game"][index] = points
        
        
matches_wm2018_predicted

    goals_home  goals_away  score_for_this_game
0            2           1                    2
1            1           1                    0
2            1           1                    0
3            1           2                    0
4            2           1                    4
5            1           1                    4
6            1           1                    0
7            2           1                    2
8            1           2                    3
9            3           1                    0
10           2           1                    0
11           2           1                    3
12           2           1                    2
13           1           1                    0
14           2           1                    0
15           2           1                    0
16           2           1                    2
17           2           1                    3
18           3           1                    2
19           1           2                    3
20           1           1                    4
21           2           1                    3
22           1           3                    2
23           2           1                    2
24           1           1                    0
25           2           1                    0
26           1           1                    0
27           1           2                    4
28           2           1                    4
29           1           1                    0
30           2           1                    0
31           2           1                    0
32           1           1                    0
33           1           2                    0
34           1           1                    4
35           3           1                    0
36           2           1                    0
37           1           1                    0
38           1           2                    4
39           1           3                    2
40           1           2                    2
41           1           1                    0
42           1           2                    2
43           2           1                    0
44           2           1                    0
45           1           2                    3
46           1           1                    0
47           1           1                    0
48           1           0                    3
49           1           0                    3
50           0           1                    3
51           1           0                    3
52           1           0                    2
53           1           0                    3
54           0           1                    0
55           0           1                    3
56           0           1                    2
57           1           0                    0
58           0           1                    2
59           0           1                    3
60           0           1                    0
61           0           1                    0
62           0           1                    0
63           0           1                    0

In [10]:
matches_wm2018_analyse = matches_wm2018_results
matches_wm2018_analyse

         Home Team       Away Team  goals_home  goals_away
0           Russia    Saudi Arabia           5           0
1            Egypt         Uruguay           0           1
2          Morocco            Iran           0           1
3         Portugal           Spain           3           3
4           France       Australia           2           1
5        Argentina         Iceland           1           1
6             Peru         Denmark           0           1
7          Croatia         Nigeria           2           0
8       Costa Rica          Serbia           0           1
9          Germany          Mexico           0           1
10          Brazil     Switzerland           1           1
11          Sweden  Korea Republic           1           0
12         Belgium          Panama           3           0
13         Tunisia         England           1           2
14        Colombia           Japan           1           2
15          Poland         Senegal           1           2
16          Russia           Egypt           3           1
17        Portugal         Morocco           1           0
18         Uruguay    Saudi Arabia           1           0
19            Iran           Spain           0           1
20         Denmark       Australia           1           1
21          France            Peru           1           0
22       Argentina         Croatia           0           3
23          Brazil      Costa Rica           2           0
24         Nigeria         Iceland           2           0
25          Serbia     Switzerland           1           2
26         Belgium         Tunisia           5           2
27  Korea Republic          Mexico           1           2
28         Germany          Sweden           2           1
29         England          Panama           6           1
30           Japan         Senegal           2           2
31          Poland        Colombia           0           3
32         Uruguay          Russia           3           0
33    Saudi Arabia           Egypt           2           1
34            Iran        Portugal           1           1
35           Spain         Morocco           2           2
36         Denmark          France           0           0
37       Australia            Peru           0           2
38         Nigeria       Argentina           1           2
39         Iceland         Croatia           1           2
40          Mexico          Sweden           0           3
41  Korea Republic         Germany           2           0
42          Serbia          Brazil           0           2
43     Switzerland      Costa Rica           2           2
44           Japan          Poland           0           1
45         Senegal        Colombia           0           1
46          Panama         Tunisia           1           2
47         England         Belgium           0           1
48          France       Argentina           4           3
49         Uruguay        Portugal           2           1
50           Spain          Russia           4           5
51         Croatia         Denmark           4           3
52          Brazil          Mexico           2           0
53         Belgium           Japan           3           2
54          Sweden     Switzerland           1           0
55        Colombia         England           4           5
56         Uruguay          France           0           2
57          Brazil         Belgium           1           2
58          Sweden         England           0           2
59          Russia         Croatia           5           6
60          France         Belgium           1           0
61         Croatia         England           2           1
62         Belgium         England           2           0
63          France         Croatia           4           2

In [11]:
matches_wm2018_analyse["goals_home_pred"] = 0
matches_wm2018_analyse["goals_away_pred"] = 0
matches_wm2018_analyse["goals_home_actual"] = 0
matches_wm2018_analyse["goals_away_actual"] = 0
matches_wm2018_analyse["score"] = 0

for index, row in matches_wm2018_analyse.iterrows():
    matches_wm2018_analyse["goals_home_pred"][index] = matches_wm2018_predicted["goals_home"][index]
    matches_wm2018_analyse["goals_away_pred"][index] = matches_wm2018_predicted["goals_away"][index]
    matches_wm2018_analyse["goals_home_actual"][index] = matches_wm2018_analyse["goals_home"][index]
    matches_wm2018_analyse["goals_away_actual"][index] = matches_wm2018_analyse["goals_away"][index]
    matches_wm2018_analyse["score"][index] = matches_wm2018_predicted["score_for_this_game"][index]
    
matches_wm2018_analyse = matches_wm2018_analyse.drop(["goals_home","goals_away"], axis=1)

matches_wm2018_analyse

/home/marco/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/marco/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/marco/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/marco/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/marco/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

,Home Team,Away Team,goals_home_pred,goals_away_pred,goals_home_actual,goals_away_actual,score
0,Russia,Saudi Arabia,2,1,5,0,2
1,Egypt,Uruguay,1,1,0,1,0
2,Morocco,Iran,1,1,0,1,0
3,Portugal,Spain,1,2,3,3,0
4,France,Australia,2,1,2,1,4
5,Argentina,Iceland,1,1,1,1,4
6,Peru,Denmark,1,1,0,1,0
7,Croatia,Nigeria,2,1,2,0,2
8,Costa Rica,Serbia,1,2,0,1,3
9,Germany,Mexico,3,1,0,1,0
10,Brazil,Switzerland,2,1,1,1,0
11,Sweden,Korea Republic,2,1,1,0,3
12,Belgium,Panama,2,1,3,0,2
13,Tunisia,England,1,1,1,2,0
14,Colombia,Japan,2,1,1,2,0
15,Poland,Senegal,2,1,1,2,0
16,Russia,Egypt,2,1,3,1,2
17,Portugal,Morocco,2,1,1,0,3
18,Uruguay,Saudi Arabia,3,1,1,0,2
19,Iran,Spain,1,2,0,1,3
20,Denmark,Australia,1,1,1,1,4
21,France,Peru,2,1,1,0,3
22,Argentina,Croatia,1,3,0,3,2
23,Brazil,Costa Rica,2,1,2,0,2
24,Nigeria,Iceland,1,1,2,0,0
25,Serbia,Switzerland,2,1,1,2,0
26,Belgium,Tunisia,1,1,5,2,0
27,Korea Republic,Mexico,1,2,1,2,4
28,Germany,Sweden,2,1,2,1,4
29,England,Panama,1,1,6,1,0
30,Japan,Senegal,2,1,2,2,0
31,Poland,Colombia,2,1,0,3,0
32,Uruguay,Russia,1,1,3,0,0
33,Saudi Arabia,Egypt,1,2,2,1,0
34,Iran,Portugal,1,1,1,1,4
35,Spain,Morocco,3,1,2,2,0
36,Denmark,France,2,1,0,0,0
37,Australia,Peru,1,1,0,2,0
38,Nigeria,Argentina,1,2,1,2,4
39,Iceland,Croatia,1,3,1,2,2
40,Mexico,Sweden,1,2,0,3,2
41,Korea Republic,Germany,1,1,2,0,0
42,Serbia,Brazil,1,2,0,2,2
43,Switzerland,Costa Rica,2,1,2,2,0
44,Japan,Poland,2,1,0,1,0
45,Senegal,Colombia,1,2,0,1,3
46,Panama,Tunisia,1,1,1,2,0
47,England,Belgium,1,1,0,1,0
48,France,Argentina,1,0,4,3,3
49,Uruguay,Portugal,1,0,2,1,3
50,Spain,Russia,0,1,4,5,3
51,Croatia,Denmark,1,0,4,3,3
52,Brazil,Mexico,1,0,2,0,2
53,Belgium,Japan,1,0,3,2,3
54,Sweden,Switzerland,0,1,1,0,0
55,Colombia,England,0,1,4,5,3
56,Uruguay,France,0,1,0,2,2
57,Brazil,Belgium,1,0,1,2,0
58,Sweden,England,0,1,0,2,2
59,Russia,Croatia,0,1,5,6,3
60,France,Belgium,0,1,1,0,0
61,Croatia,England,0,1,2,1,0
62,Belgium,England,0,1,2,0,0
63,France,Croatia,0,1,4,2,0

In [12]:
matches_wm2018_analyse.to_csv("matches_analysis-franzi.csv", encoding='utf-8')